@charset "UTF-8";
a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:active {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #000000;
}

ul, li {
	display: inline-block;
	text-align: center;
}

#listnsearch {
	table-layout:fixed;
	margin: 0 auto;
	background-color: #ffffff;
	vertical-align: middle;
	padding: 20px 0;
	font-size: 16px;
	width:1020px
}

#listinfo {
	width: 23%;
	text-align: left;
	cursor: default !important;
}

#totalpages {
	margin-right: 30px;
}

#listtitle {
	width: 25%;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	cursor: default !important;
}

#view {
	table-layout:fixed;
	margin: 0 auto;
	background-color: #ffffff;
	text-align: center;
	vertical-align: middle;
	padding: 30px 0;
	font-size: 19px;
	font-weight: bold;
	width:1020px
}

.boardviewtitle {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #dddddd;
}

#listsearch {
	width: 45%;
	text-align: right;
}

#searcharea {
	margin: 0 auto;
	display: block;
	text-align: right;
}

#searcharea input, #searcharea select {
	text-align: center;
	font-size: 14px;
	margin: 5px;
	padding: 5px 8px;
	border: 1px solid #0047a0;
	background-color: #ffffff;
	border-radius: 3px;
}

#searcharea select {
	border-radius: 3px;
	padding: 4px 6px !important;
}

#searcharea input {
	text-align: left !important;
	ime-mode: active;
}

#searchbutton, #returntolist {
	cursor: pointer;
}

#boardwrite {
	background-color: #4d77af !important;
	color: #ffffff;
	margin-right: 0 !important;
}

#boardlist {
	word-break: break-all;
	margin: 0 auto;
	border-collapse: collapse;
	background-color: #f7f7f7;
	font-size: 15px;
	width: 1020px;
	cursor: default !important;
}

#boardlist tr {
	padding: 8px;
	height:40px;
}

#boardlist tr:nth-child(4n) {
	background-color: #ffffff;
}

#boardlist tr:hover {
	background-color: #d9eaff;
}

.trline {
	height:0 !important;
}

.hrline {
	height: 1px;
	color: #dddddd;
	background-color: #dddddd;
	border: 0;
}

.hrtop {
	height: 1px;
	color: #0047a0;
	background-color: #0047a0;
	border: 0;
}

#boardlist th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #4d77af;
	color: white;
	cursor: default !important;
	text-align: center !important;
}

.boardrow td {
	padding: 5px 0;
}

.none {
	text-align: center;
	cursor: default !important;
}

#boardlist td {
	cursor: pointer;
}

#boardlist .boardnum {
	width: 8%;
	text-align: center !important;
}

#boardlist .subject {
	width: 57%;
	text-align: left;
}

#boardlist .membername {
	width: 15%;
	text-align: left;
	padding-left: 7px !important;
}

#boardlist .writetime {
	width: 15%;
	text-align: center !important;
}

#boardlist .hits {
	width: 7%;
	text-align: center !important;
}

.boarddstar {
	display: inline-block;
	width: 11px;
	height: 22px;
}

#pagewindow {
	margin: 0 auto;
	padding: 20px 0 26px 0;
	width: 1040px;
	text-align: center;
}

#boardulist li {
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	width: 54px;
	margin: auto 8px auto 8px;
	padding: 5px 0 5px 0;
	border: 2px solid #dddddd;
	border-radius: 5px;
	cursor: pointer;
}

.arrow {
	color: #4d77af !important;
}

.firstpage {
	margin: auto 8px auto 0 !important;
}

.lastpage {
	margin: auto 0 auto 8px !important;
}

.pagelink:hover {
	background-color: #d9eaff;
}

.currentpage {
	border-color: #4d77af;
	background-color: #4d77af;
	color: #ffffff;
	font-weight: bold;
	cursor: not-allowed !important;
}

.startpage, .endpage {
	cursor: not-allowed !important;
}

#boardview {
	table-layout:fixed;
	margin: 0 auto;
	border-collapse: collapse;
	width: 1020px;
	border: 0;
}

#boardview tr {
	border-width: 0 0 1px 0 !important;
	border-style: solid;
	border-color: #dddddd;
}

.boardtitle {
	width: 10%;
}

.boardmembername {
	width: 20%
}

.boardhits {
	width: 6%
}

.boardtime {
	width: 17%
}

.boardcontent {
	width: 94%;
}

#boardview th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	color: #000000;
	cursor: default;
}

#boardview th, #boardview td {
	padding: 8px;
}

#boardview .num {
	text-align: right !important;
}

.backtolist {
	text-align: center;
	background-color: #d9eaff;
	color: #000000;
	font-weight: bold;
	cursor: pointer !important;
}

#scorelog {
	table-layout:fixed;
	margin: 0 auto;
	border-collapse: collapse;
	width: 1020px;
	border: 0;
}

.scorename {
	width: 10%;
}

.scoringtime {
	width: 17%;
}

.scorepoint {
	width: 17%;
}

.btntd {
	text-align:right;
}

.btnboard {
	font-size: 15px;
	padding: 6px 15px;
	margin-left: 12px;
	text-align:center;
	border: 1px solid #dddddd;
	border-radius: 3px;
}

.btnboard:hover {
	background-color: #d9eaff;
}

#dummyboardview {
	height: 25px;
}